<section id="container">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row mt">
                <div class="col-lg-12">
                    <div class="col-md-11">

                    </div>
                    <div style="padding-right:0px;" class="col-md-1">
                        <button type="button" class="btn btn-theme02 pull-right" data-toggle="modal" data-target="#myModal" ;"><i class="fa fa-plus-circle"></i> Agregar</button>
                    </div><!-- /showback -->
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h2 style="font-weight:bold;" class="modal-title" id="myModalLabel">Nueva Sucursal</h2>
                                </div>
                                <div class="col-md-12" style="padding:0%;">
                                    <div class="panel panel-white">

                                        <div class="panel-body">
                                            <form>
                                                <div class="form-group">
                                                    <label style="color:#3e3939;font-weight:bold;font-size:16px;">Nombre de la sucursal</label>
                                                    <input class="form-control" id="InputNombreSucursal" placeholder="Sucursal #">
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#3e3939;font-weight:bold;font-size:16px;">Dirección de la sucursal</label>
                                                    <input class="form-control" id="InputDireccionSucursal" placeholder="Calle # Colonia Mpio. Estado">
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#3e3939;font-weight:bold;font-size:16px;">Teléfono</label>
                                                    <input class="form-control" id="InputTelefonoSucursal" placeholder="(123)4567890">
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#3e3939;font-weight:bold;font-size:16px;">Usuario</label>
                                                    <input class="form-control" id="InputUsuarioSucursal" placeholder="Usuario #">
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#3e3939;font-weight:bold;font-size:16px;">Contraseña</label>
                                                    <input type="password" class="form-control" id="InputPassword" placeholder="********">
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-12">


                    <div class="grey-panel pn donut-chart">
                        <div class="grey-header col-md-12">

                            <div class="col-md-10">
                                <h3 style="font-weight:bold;">SUCURSAL</h3>
                            </div>

                            <div class="col-md-2" style="padding-top:0.3%;">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group col-md-3" style="padding:0%;">
                                        <button style="font-size:24px;" type="button" class="btn btn-theme04"> <i class="fa fa-eye"></i></button>
                                    </div>
                                    <div class="btn-group col-md-3" style="padding:0%;">
                                        <button style="font-size:24px;" type="button" class="btn btn-theme04"><i class="fa fa-edit"></i></button>
                                    </div>
                                    <div class="btn-group col-md-3" style="padding:0%;">
                                        <button style="font-size:24px;" type="button" class="btn btn-theme04"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 desc">
                                <div class="project-wrapper">
                                    <div class="photo-wrapper">
                                        <div class="photo">
                                            <button type="button" style="font-size:64px;" class="btn btn-theme05"><i class="fa fa-database"></i></button>
                                        </div>

                                    </div>
                                </div>
                            </div><!-- col-lg-4 -->
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 desc">
                                <div class="project-wrapper">
                                    <div class="photo-wrapper">
                                        <div class="photo">
                                            <button type="button" style="font-size:64px;" class="btn btn-theme05"><i class="fa fa-dollar"></i></button>
                                        </div>

                                    </div>
                                </div>
                            </div><!-- col-lg-4 -->
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 desc">
                                <div class="project-wrapper">

                                    <div class="photo-wrapper">
                                        <div class="photo">
                                            <button type="button" style="font-size:64px;" class="btn btn-theme05"><i class="fa fa-pie-chart"></i></button>
                                        </div>

                                    </div>

                                </div>
                            </div><!-- col-lg-4 -->
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 desc">
                                <div class="project-wrapper">
                                    <div class="photo-wrapper">
                                        <div class="photo">
                                            <button type="button" style="font-size:64px;" class="btn btn-theme05"><i class="fa fa-truck"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- col-lg-4 -->
                        </div>


                    </div>

                </div>

            </div><!--/row -->
        </section>
    </section>

    <!--main content end-->
    <!--footer start-->
    <!--footer end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
