<section id="container">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="grey-panel2 donut-chart">
                        <div class="grey-header2 col-md-12">

                            <div class="col-md-12">
                                <h3 style="font-weight:bold; color:white;">PEDIDOS</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-white">

                <div class="panel-body">
                    <button type="button" class="btn btn-success m-b-sm pull-left">Regresar</button>

                    <!-- Modal -->
                    <form id="add-row-form" action="javascript:void(0);">
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Nuevo Strap</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input type="text" id="name-input" class="form-control" placeholder="Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="position-input" class="form-control" placeholder="Position" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" id="age-input" class="form-control" placeholder="Age" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="date-input" class="form-control date-picker" placeholder="Start Date" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" id="salary-input" class="form-control" placeholder="Salary" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" id="add-row" class="btn btn-success">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <!--<div class="dataTables_length" id="example3_length"><label>Show <select name="example3_length" aria-controls="example3" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                        <div id="example3_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="example3"></label></div>-->
                        <table id="example-editable" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                                <tr>

                                    <th>Código</th>
                                    <th>Letra</th>
                                    <th>Modelo</th>
                                    <th>Color</th>
                                    <th>Textura</th>
                                    <th>Combo</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>

                                    <th>Código</th>
                                    <th>Letra</th>
                                    <th>Modelo</th>
                                    <th>Color</th>
                                    <th>Textura</th>
                                    <th>Combo</th>

                                </tr>
                            </tfoot>



                            <tbody>

                                <tr>

                                    <td><a>Cedric Kelly</a></td>
                                    <td><a>Senior Javascript Developer</a></td>
                                    <td><a>Edinburgh</a></td>
                                    <td><a>22</a></td>
                                    <td><a>2012/03/29</a></td>
                                    <td><a>$433,060</a></td>

                                </tr>

                                <tr>

                                    <td><a>Zenaida Frank</a></td>
                                    <td><a>Software Engineer</a></td>
                                    <td><a>New York</a></td>
                                    <td><a>63</a></td>
                                    <td><a>2010/01/04</a></td>
                                    <td><a>$125,250</a></td>

                                </tr>
                                <tr>
                                    <!--<td>
                                        <div class="switch switch-square has-switch" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                            <div class="switch-on switch-animate"><input type="checkbox" checked=""><span class="switch-left"><i class=" fa fa-check"></i></span><label>&nbsp;</label><span class="switch-right"><i class="fa fa-times"></i></span></div>
                                        </div>
                                    </td>
                                        -->
                                    <td><a>Zorita Serrano</a></td>
                                    <td><a>Software Engineer</a></td>
                                    <td><a>San Francisco</a></td>
                                    <td><a>56</a></td>
                                    <td><a>2012/06/01</a></td>
                                    <td><a>$115,000</a></td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

        </section>
    </section>


    <!--main content end-->
    <!--footer start-->
    <!--footer end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
